/*The default settings for the entire document*/
* {

    list-style: none; /*Remove any default styling on list items*/

    text-decoration: none; /*Remove any default styling on text elements*/
    
    font: normal normal 100%/1.5 sans-serif; /*font shorthand for: style:normal, Variant: no set, Weight:normal, Stretch: no set, Size: 100% (16px), Height:1.5x, Family: sans-serif */
    
    letter-spacing: .03vw; /* added less than .03 of letter spacing for view width*/
    
    box-sizing: border-box; /*content area, border, and padding will fit inside of parent element*/
}

/*Adding a linear gradient for the background of the webpage*/
body {
    background: linear-gradient(55deg, rgb(0, 0, 0), rgb(216, 11, 11));
}

/*for each section within the body, there will be a a border, padding and animation, */
body section{
    font-size: 2vh;

    border: medium ridge rgb(138, 138, 138); /* border shorthand for: Width: medium, Style: ridge, Color: RGB 138, 138, 138*/

    padding: 2vh 2vw;

    overflow: auto; /*prevents image from overflowing beyond section (parent) container since it is a float*/

    animation: change-color 7s infinite;  /* */
}

/*changing the background color within each section on a 7s loop*/
@keyframes change-color {

    0% {
        background-color: #b2bcdd;
    }
    33% { 
        background-color: #ced1fc;
    }
    66% {
        background-color: #d4e2bd;
    }
    100% {
        background-color: #b2bcdd;
    }
}

/*Settings of H1 element*/
h1 {

    text-align: center; /*test*/

    font-size: 4vh; /*Element will take around 3.5% of window height*/

    font-weight: bolder;

    position: relative; /*Allows the header to stay above the navigation links*/

    margin: 0; /*test*/
}

/*Heading 3 element settings*/
h3 {

    text-align: center;

    font-size: 2.9vh;

    font-weight: bold;
}

/*Setting nav as parent container as flexbox, removing any padding, border, and margin*/
nav {

    display: flex; /*Navigational links will show horizontally*/
    
    justify-content: space-around;/* each element withinin nav container will have equal space around themselves.*/

    margin-left: -4vw; /*reduce margin to minimize space from container edge*/

    padding: 0;

    border: 0;
    
    overflow: hidden; /* prevents list elements from going outside of the list*/
}

/*Setting font size, color for anchor tags withing lists. Rounding corners of border edge.*/
li a{
    
    color: rgb(0, 0, 0);
    
    font-size: 2.5vh;

    border-radius: 15%;

    transition: color 1s, background 2s;
}

/*Pseudo-class hover will change font weight, color, size and background image. transitions will go into effect */
li a:hover {
    color: rgb(255, 255, 255);

    font-size: 3vh;

    font-weight: bolder;
    
    background: rgb(59, 59, 59);
}

/*Image Settings*/
img {

    max-height: 15vh; /* Maximum height is 20 viewport height*/
    
    width: auto;
    
    padding: 0 2vw 1vh 0;

    float: left; /*Allows text to wrap around image*/
}

/*my work class container, flexbox parent, child items show in row, and horizontal spacing is equal all around  child elements*/
.my-work {

    display: flex;

    flex-direction: row;

    justify-content: space-around;

    column-count: 3;
}

/* ul margin and padding set to 0, border will be dotted red with */
.my-work ul {

    margin: 0;

    padding: 0;

    border: .5vh dotted rgb(134, 0, 0);

    transition: border 1s;

}

/* transition will go in effect when hovering over links*/
.my-work ul:hover {
    border: .4vh ridge #0000;
}

/*footer container settings*/
footer {

    margin: 0;

    padding: 0;
}

/*class container will be set as flexbox parent, with each item set in columns, no margin, no padding.*/
.contact-links {

    display: flex;

    flex-direction: column; 

    margin: 0;

    padding: 0; 
}

/*flexbox child will be set at top left corner of container*/
#left-link {

    align-self: flex-start;

    margin-left: -2vw;
}

/*flexbox child will be set in center of container*/
#center-link {

    align-self: center;
}

/*flexbox child will be set at bottom right of container*/
#right-link {

    align-self: flex-end;

    padding-right: 4vw; /* adjust location of link to have some padding away from the container edge*/
}



